<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>h5设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>5460818</string>
			<key>Title</key>
			<string>appid</string>
			<key>Key</key>
			<string>h5appid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>103105707</string>
			<key>Title</key>
			<string>广告位ID</string>
			<key>Key</key>
			<string>h5postid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>小程序设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>AppID</string>
			<key>DefaultValue</key>
			<string>1000013</string>
			<key>Key</key>
			<string>miniappid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>1028</string>
			<key>Title</key>
			<string>客户端代码</string>
			<key>Key</key>
			<string>miniplatform</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>关闭为快爆，打开为游戏盒</string>
			<key>Key</key>
			<string>miniclient</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>手游设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>AppID</string>
			<key>DefaultValue</key>
			<string>4868</string>
			<key>Key</key>
			<string>mobileappid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>bundle ID</string>
			<key>DefaultValue</key>
			<string>cn.4399.gamehotspot</string>
			<key>Key</key>
			<string>mobilebundleid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>激励视频用户ID</string>
			<key>DefaultValue</key>
			<string>5888</string>
			<key>Key</key>
			<string>mobileslotuserid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>banner用户ID</string>
			<key>DefaultValue</key>
			<string>5886</string>
			<key>Key</key>
			<string>mobilebanneruserid</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>原生(信息流)用户ID</string>
			<key>DefaultValue</key>
			<string>5887</string>
			<key>Key</key>
			<string>mobilenativeuserid</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
